@model UVM1._5.Models.Item

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<datalist id="brandlist">

    @foreach(var brand in @ViewBag.brands){

        var name = brand;
        <option value="@name"></option>
    }

</datalist>

<datalist id="locationlist">

    @foreach (var loc in @ViewBag.locations)
    {

        <option value="@loc.Value">@loc.Name</option>
    }

</datalist>

<datalist id="cat_options">
    
    @foreach (var cat in @ViewBag.categories)
    {

        <option value="@cat"></option>
    }
    

</datalist>


<h4>Item</h4>
<hr />
<div class="row d-inline-flex col-12">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" id="location" class="form-control" list="locationlist" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input id="brand" type="search" list="brandlist" asp-for="Brand" class="form-control" disabled="true" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input id="model" asp-for="Model" class="form-control" disabled="true"/>
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input id="color" asp-for="Color" class="form-control" disabled="true" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input id="cat" asp-for="Category" class="form-control" disabled="true" list="cat_options" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serial" class="control-label"></label>
                <input id="serial" asp-for="Serial" class="form-control" onblur="parseSerial()" />
                <span asp-validation-for="Serial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Condition" class="control-label"></label>
                <select asp-for="Condition" class="form-control" list="condition_options" >
                    <option value="0"></option>
                    <option value="5">Excellent</option>
                    <option value="4">Great</option>
                    <option value="3">Good</option>
                    <option value="2">Fair</option>

                </select>
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Retail" class="control-label"></label>
                <input asp-for="Retail" class="form-control" />
                <span asp-validation-for="Retail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        
    </div>
    <div class="col-8">
        <div class="row col-12" >
            <div class="col">
                <label asp-for="Description" class="control-label"></label>
                <textarea id="desc" rows="6" class="col-12 form-control">
                    @Model.Description
                </textarea>

            </div>

            @* <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input id="cat" asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div> *@
            
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input id="year" asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>

        </div>
        

    </div>
</div>

<script>

    var loc = document.getElementById("location");
    var brand = document.getElementById("brand");
    var model = document.getElementById("model");
    var cat = document.getElementById("cat");
    var serial = document.getElementById("serial");
    var desc = document.getElementById("desc");
    var color = document.getElementById("color");
    var year = document.getElementById("year");

    loc.addEventListener("change", (e) => {
        brand.disabled = false;

    });

    brand.addEventListener("change", (e) => {
        if (brand.value != "") {
            model.disabled = false;
        }
        else {
            model.disabled = true;
            model.value = "";
        }
    });

    model.addEventListener("change", (e) => {
        if (model.value != "") {
            cat.disabled = false;
            color.disabled = false;

            var brnd = brand.value;
            var mod = model.value;

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCat")",
                dataType: "json",
                data: {
                    brnd: brnd,
                    mod: mod
                },
                success: function (response) {
                    //alert("Genrating Description");
                    console.log(response);
                    cat.value = response.value

                },
                error: function (req, status, err) {
                    console.log(status);
                }


            });

            $.ajax({
                type: "GET",
                url: "@Url.Action("GenerateDesc")",
                dataType: "json",
                data: {
                    brnd: brnd,
                    mod: mod
                },
                success: function (response) {
                    //alert("Genrating Description");
                    console.log(response);
                    desc.value = response.value
                    
                },
                error: function (req, status, err) {
                    console.log(status);
                }


            });

        }
        else {
            cat.disabled = true;
            color.disabled = true;
            cat.value = "";
            color.value = "";
        }
    });

    cat.addEventListener("change", (e) => {
        if (cat.value != "") {
            serial.disabled = false;
        }
        else {
            //serial.disabled = true;
            //serial.value = "";
        }
    });

    cat.addEventListener("change", (e) => {
        if (cat.value != "") {
            serial.disabled = false;

            


        }
        else {
            serial.disabled = true;
            serial.value = "";
        }
    });

    year.addEventListener("change", (e) => {

        var brnd = brand.value;
        var mod = model.value;
        var yy = year.value;

        $.ajax({
            type: "GET",
            url: "@Url.Action("GenerateDesc")",
            dataType: "json",
            data: {
                brnd: brnd,
                mod: mod,
                yy: yy
            },
            success: function (response) {
                //alert("Genrating Description");
                console.log(response);
                desc.value = response.value

            },
            error: function (req, status, err) {
                console.log(status);
            }


        });

    });



    function parseSerial() {
        var brand = document.getElementById('brand');
        var serial = document.getElementById('serial');

        console.log(brand.value);
        console.log(serial.value);

        switch (brand.value) {
            case 'PRS':
                if (isLetter(serial.value[0])) {
                    alert("this serialnumber is consistant with an SE model, please verify it hasbeen identified accordingly.");
                }
                else if (serial.value.includes('S') || serial.value.includes('s')) {
                    alert("this serial number is consistant with an S2 model, please verify that it has been identified accordingly.")
                }
                // code block
                break;
            case 'G&L':
                // code block
                break;
            case 'Fender':
                if (serial.value.includes('M') || serial.value.includes('m')) {
                    alert("This serial is consistant with a Made in Mexico model. Please ensure item was identified accordingly");
                }
            default:
            // code block
        }
    }

    

    function isLetter(s) {
        return s.match(/[a-z]/i);
    }
</script>


@*
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
}*@
