@model UVM1._5.Models.Item

@{
    ViewData["Title"] = "EditItem";
}
<datalist id="brandlist">

    @foreach (var brand in @ViewBag.brands)
    {

        var name = brand;
        <option value="@name.Name"></option>
    }

</datalist>

<datalist id="locationlist">

    @foreach (var loc in @ViewBag.locations)
    {

        <option value="@loc.Value">@loc.Name</option>
    }

</datalist>

<datalist id="cat_options">

    @foreach (var cat in @ViewBag.categories)
    {

        <option value="@cat.Name"></option>
    }


</datalist>


<h4 name="id">@Model.Id</h4><h4> - @Model.Year @Model.Brand.Name @Model.Model @Model.Color</h4>
<hr />
<div class="">
    <div>
        <form asp-action="UploadPhotos" class="row d-inline-flex col-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-lg-4">

                <div class="form-group">
                    <label asp-for="Id" class="control-label form-label my-0"></label>
                    <input asp-for="Id" id="id" class="form-control" name="id" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Brand" class="control-label form-label my-0"></label>
                    <input id="brand" name="b" type="search" list="brandlist" asp-for="Brand.Name" class="form-control" disabled="true" />
                    <span asp-validation-for="Brand.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model" class="control-label form-label my-0"></label>
                    <input id="model" asp-for="Model" class="form-control" disabled="true" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Color" class="control-label form-label my-0"></label>
                    <input id="color" asp-for="Color" class="form-control" disabled="true" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Year" class="control-label form-label my-0"></label>
                    <input id="year" asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label form-label my-0"></label>
                    <input id="cat" name="c" asp-for="Category.Name" class="form-control" disabled="true" list="cat_options" />
                    <span asp-validation-for="Category.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Serial" class="control-label form-label my-0"></label>
                    <input id="serial" asp-for="Serial" class="form-control" onblur="parseSerial()" />
                    <span asp-validation-for="Serial" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Condition" class="control-label form-label my-0"></label>
                    <select asp-for="Condition.Value" class="form-control" list="condition_options">
                        <option value="0"></option>
                        <option value="5">Excellent</option>
                        <option value="4">Great</option>
                        <option value="3">Good</option>
                        <option value="2">Fair</option>

                    </select>
                    <span asp-validation-for="Condition.Value" class="text-danger"></span>
                </div>
                <div class="d-inline-flex justify-content-between">

                    <div class="form-group col-4">
                        <label asp-for="Retail" class="control-label form-label my-0"></label>
                        <div class="d-inline-flex">
                            <input asp-for="Retail" id="retail" class="form-control text-end" type="number" /><div class="py-2">.99</div>
                        </div>
                        <span asp-validation-for="Retail" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Cost" class="control-label form-label my-0"></label>
                        <input asp-for="Cost" type="number" id="cost" class="form-control text-end" />
                        <span asp-validation-for="Cost" class="text-danger"></span>
                    </div>
                    <div class="form-group col-3">
                        <label class="control-label form-label my-0">GM</label>
                        <div class="d-inline-flex">
                            <input id="gm" class="form-control text-end" readonly="readonly" /><div class="py-2">%</div>
                        </div>

                    </div>

                </div>



            </div>

            <div class="col-lg-8">


                <div class="form-group">
                    <label class="control-label form-label my-0">Listing Title Preview:</label>
                    <input id="title" class="form-control" />

                </div>

                <div class="col">
                    <label asp-for="Description" class="control-label form-label my-2"></label>
                    <textarea id="desc" asp-for="Description" rows="6" class="col-12 form-control" name="dsc">
                        @Model.Description
                        </textarea>

                </div>

                <div>
                    <label asp-for="Details" class="control-label form-label my-2"></label>
                    <textarea id="details" name="det" asp-for="Details" class="col-12 form-control" placeholder="Enter unique details separated by commas. Ex:   upgraded tuners, buckle rash, refinished"></textarea>
                    <label class="text-center form-label my-2">Details Preview:</label>
                    <p id="details_render">

                    </p>

                </div>

                    <div class="d-flex my-2">
                        <div class="col-6">
                            <input type="file" name="imageFile1" class="form-control" class="col-6" />
                        </div>

                        <div class="col-6">
                            <input type="file" name="imageFile2" class="form-control" class="col-6" />
                        </div>
                    </div>

                    <div class="d-flex my-2">
                        <div class="col-6">
                            <input type="file" name="imageFile3" class="form-control" class="col-6" />
                        </div>

                        <div class="col-6">
                            <input type="file" name="imageFile4" class="form-control" class="col-6" />
                        </div>
                    </div>

                
                




            </div>

            <div class=" col-md-4 mt-4">

                <div class="form-group mt-2">
                    <input type="submit" value="Update Info" class="btn btn-primary col-12" onclick="return formComplete()" />
                </div>

            </div>

        </form>

        

    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
