@model UVM1._5.Models.Item

<div id="loader"></div>


<form asp-action="ValidatePhotos" enctype="multipart/form-data" AllowMultiple="true" runat="server"  class="row d-inline-flex col-12 justify-content-center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="d-flex flex-column text-center">
                <div class="form-group">
                    <input asp-for="Id" id="id" class="form-control text-center id-header " name="id" style="border: none; background-color: white" readonly="readonly"/>
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <h4>@Model.Year @Model.Brand.Name @Model.Model @Model.Color</h4>
            </div>

    <div id="" class="row d-flex justify-content-center ">

        
        @foreach(var img in Model.Images)
        {
            <div class="col-12 col-xxl-6 d-flex justify-content-center my-4">

                <div class="my-1 col-12 d-flex flex-column col-lg-6 align-items-center">
                    
                    @if (img.Img != null)
                    {
                        <label class="form-label text-center ">Image @img.Position </label>
                        <img class=" edit-img" src="data:image;base64,@System.Convert.ToBase64String(img.Img)" />

                    }
                    @if(img.Flag == true)
                    {
                        <h4 class="text-center " style="color: red;">Ai has flagged this image</h4>
                    }
                    @if(img.Verified == true)
                    {
                        <h4 class="text-center " style="color: green;">Ai has verified this image</h4>
                    }

                    

                </div>


            </div>


        }

       



        <div class=" col my-5 d-flex justify-content-center">

            <div class="form-group mt-2 col-6">
                <input id="validate" type="submit" value="Validate Photos" class="btn btn-danger col-12" onclick="load()" />
            </div>

        </div>



    </div>

</form>


<script>

    var photos = document.getElementById("item-photos");
    var loader = document.getElementById("loader");
    noload();

    document.addEventListener("DOMContentLoaded", function () {
        photos.style.display = "block";
        loader.style.display = "none";
    });

    function noload(){
        loader.style.display = "none";
    }

    function load(){
        loader.style.display = "block";
        //document.getElementById("validate").disabled = true;
    };
    
</script>





           