@model UVM1._5.Models.Item


	<div id="web-view" class="row d-inline-flex">
		<div class="col col-xl-8">

			<div id="photo-view">
				<div id="" class="container d-flex justify-content-between mt-5 mb-1">

					
						<button class="btn arrow-btn left-arrow" onclick="return scrollright()">
							<img src="~/images/leftArrow.png" class="btn-border"/>
							
						</button>

					@if(Model.Images[0] != null)
					{
						<img id="main-img" src="data:image;base64,@System.Convert.ToBase64String(Model.Images[0])" onclick="enlarge(this);" />
					}
					else
					{
						<img id="main-img" src="~/images/no_images.png" onclick="enlarge(this);" />
					}
					

						<button class="btn arrow-btn right-arrow" onclick="return scrollleft()">
							
							<img src="~/images/rightArrow.png" class="btn-border"/>

						</button>

				</div>
				
			</div>
			<div class="d-flex justify-content-center my-3">

				@foreach(var img in Model.Images)
				{
					@if(img != null)
					{
						<div class="thumb-border mx-2 d-flex justify-content-center align-items-center">
							<img class="web-thumb" src="data:image;base64,@System.Convert.ToBase64String(img)" />
						</div>
					}
				}
				@* <div class="thumb-border mx-2 d-flex justify-content-center align-items-center">
					<img class="web-thumb" src="data:image;base64,@System.Convert.ToBase64String(Model.Images[0])" />
				</div>
				<div class="thumb-border mx-2 d-flex justify-content-center align-items-center">
					<img class="web-thumb " src="data:image;base64,@System.Convert.ToBase64String(Model.Images[1])" />
				</div>
				<div class="thumb-border mx-2 d-flex justify-content-center align-items-center">
					<img class="web-thumb " src="data:image;base64,@System.Convert.ToBase64String(Model.Images[2])" />
				</div>
				<div class="thumb-border mx-2 d-flex justify-content-center align-items-center">
					<img class="web-thumb" src="data:image;base64,@System.Convert.ToBase64String(Model.Images[3])" />
				</div> *@
				
				
				
				
			</div>

		</div>
		<div class="col col-xl-4 item-info pt-3">
			<h3 class="pb-0">@Model.Year @Model.Brand.Name @Model.Model @Model.Category.Name</h3>
			<div class="d-flex small-font">
				<div class="mr-3 pt-0">
					Item #:@Model.Id
				</div>
				<div class="mx-3">
					POS #:@Model.Id
				</div>
			</div>
			<div id="contact" class="px-3 py-2 my-4">
				<p class="bold">Contact or Visit Us for More Details </p>
				<p class="">Every used item is unique—we can help ensure this gear is right for you</p>
				<p>Item Location: <span style="color: red">@Model.Location</span></p>
				<div class="d-flex text-center mb-2">
					<div class="contact-btn bold px-2 py-1 ">
						(555) 555-5555
					</div>
					<div class="contact-btn bold px-2 py-1 mx-2">
						Message Us
					</div>
				</div>
			</div>
			<div>
				<div class="small-font bold">
					Condition: Used - @Model.Condition.Name
				</div>
				<h3>$@Model.Retail</h3>
				<hr />
			
			</div>
			<div >
				<p id="finance" >6-month special financing + $@((int)Model.Retail /20) back in Rewards** Limited time</p>
				<hr />
			</div>
			<div class="small-font">
				<p>Lease-To-Own Purchase Options <span style="text-decoration: underline"> Learn More</span></p>
				<hr />
			</div>
			<input id="buy-btn" class="btn bold my-4" value="Add to Cart"/>

		</div>
		<div id="description" class="b-top">
			<h3 class="bold mt-3">Description</h3>
			<p>@Model.Description.</p>
		</div>
		<div id="details" class="b-top">
			<h3 class="bold mt-3">Details</h3>
			<p id="item-details">@Model.Details</p>

		</div>
	</div>

<script>

	
	document.addEventListener("DOMContentLoaded", function () {
		var det = document.getElementById("item-details");
		det.innerText = formatDetails(det.innerText);
		console.log(det);
	});
	
	

	function formatDetails(text) {
		var det = '';
		var detailsArr = text.split(',');
		console.log(detailsArr);
		for (let i = 0; i < detailsArr.length; i++) {

			det = det + '- ' + detailsArr[i] + '\n';
		}
		return det;
	}
</script>