@model UVM1._5.Models.Item


	<div id="web-view" class="row justify-content-center">
		<div class="col col-lg-8 d-flex flex-column justify-content-center align-items-center align-content-center">

			<div id="photo-view">
				<div id="" class="img-box container d-flex justify-content-between align-items-center mt-5 mb-1 align-self-center">

					
						@* <button class="btn arrow-btn left-arrow" onclick="return scrollright()">
							<img src="~/images/leftArrow.png" class="btn-border"/>
							
						</button> *@

					@if(Model.Images[0].Img != null)
					{
						<img id="main-img" src="data:image;base64,@System.Convert.ToBase64String(Model.Images[0].Img)" ;" />
					}
					else
					{
						<img id="main-img" src="~/images/no_images.png" onclick="enlarge(this);" />
					}
					

						@* <button class="btn arrow-btn right-arrow" onclick="return scrollright()">
							
							<img src="~/images/rightArrow.png" class="btn-border"/>

						</button> *@

				</div>
				
			</div>
			<div class=" d-flex justify-content-center my-3">

				@foreach(var img in Model.Images)
				{
					@if(img.Img != null)
					{
						<div class="itm-img thumb-border mx-2 d-flex justify-content-center align-items-center">
							<img class="web-thumb" onclick="return replaceImg(this)" src="data:image;base64,@System.Convert.ToBase64String(img.Img)" />
						</div>
					}
				}

				
			</div>

		</div>
		<div class="col-12 col-lg-4 item-info pt-3">
			<h3 class="pb-0">@Model.Year @Model.Brand.Name @Model.Model @Model.Category.Name</h3>
			<div class="d-flex small-font">
				<div class="mr-3 pt-0">
					Item #:@Model.Id
				</div>
				<div class="mx-3">
					POS #:@Model.Id
				</div>
			</div>
			<div id="contact" class="px-3 py-2 my-4">
				<p class="bold">Contact or Visit Us for More Details </p>
				<p class="">Every used item is unique—we can help ensure this gear is right for you</p>
				<p>Item Location: <span style="color: red">@Model.LocName</span></p>
				<div class="d-flex text-center mb-2">
					<div class="contact-btn bold px-2 py-1 ">
						(555) 555-5555
					</div>
					<div class="contact-btn bold px-2 py-1 mx-2">
						Message Us
					</div>
				</div>
			</div>
			<div>
				<div class="small-font bold">
					Condition: Used - @Model.Condition.Name
				</div>
				<h3>$@Model.Retail</h3>
				<hr />
			
			</div>
			<div >
				<p id="finance" >6-month special financing + $@((int)Model.Retail /20) back in Rewards** Limited time</p>
				<hr />
			</div>
			<div class="small-font">
				<p>Lease-To-Own Purchase Options <span style="text-decoration: underline"> Learn More</span></p>
				<hr />
			</div>
			<input id="buy-btn" class="btn bold my-4" value="Add to Cart"/>

		</div>
		<div id="description" class="b-top">
			<h3 class="bold mt-3">Description</h3>
			<p>@Model.Description</p>
		</div>
		<div id="details" class="b-top">
			<h3 class="bold mt-3">Details</h3>
			<p id="item-details">@Model.Details</p>

		</div>
	</div>

<script>

	var mainImg = document.getElementById("main-img");

	const imgs = document.querySelectorAll("itm-img");
	let activeImg = 0;

	function replaceImg(imgs) {
		
		mainImg.src = imgs.src;
		return false;
	}

	function scrollright() {

		// activeImg++;
		// if (activeImg > imgs.length - 1) {
		// 	activeImg = 0;
		// }
		
		// mainImg.src = imgs[activeImg].children[activeImg].src;

		// return false;
	}
	
	document.addEventListener("DOMContentLoaded", function () {
		var det = document.getElementById("item-details");
		det.innerText = formatDetails(det.innerText);
		console.log(det);
	});
	
	

	function formatDetails(text) {
		var det = '';
		var detailsArr = text.split(',');
		console.log(detailsArr);
		for (let i = 0; i < detailsArr.length; i++) {

			det = det + '- ' + detailsArr[i] + '\n';
		}
		return det;
	}
</script>